@import "@/styles/global/mixins";

.IconPlan {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  @include vw-property(
    (
      width: 282,
    )
  );

  @include tablet-small {
    flex-direction: row;
    width: 100%;
  }
}

.container {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid rgba(14, 63, 181, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  background-color: rgba(238, 239, 240, 1);

  svg {
    width: 60%;
    height: auto;
  }

  @include tablet-small {
    width: 48px;
    height: 48px;
  }
}

// .bottom {
//   position: absolute;
// }

.InfoPlan {
  position: absolute;
  left: 0;

  @include tablet-small {
    position: static;
    @include spacer(padding, l, 1);
  }
}

.top {
  bottom: 108px;
}

.bottom {
  top: 108px;
}

.Icon {
  width: 60%;
}
