@import "@/styles/global/mixins";

.advantages {
  display: flex;
  
  @include mobile {
    flex-direction: column;
  }

  &_left {
    width: 55%;
  }

  &_right {
    margin-top:250px;
    width: 45%;

    @include mobile {
      margin-top: 0;
    }
  }
}

.advantages_left {
  width: 100%;
}

.advantages_right {
  width: 100%;
}


.info_wrapper {
  @include spacer(margin, b, 0.25 / 0.166);

  @include font-size(40, 26);
  line-height: 120%;
  letter-spacing: -0.015em;
}

.progress_container {
  // max-width: 288px;
  width: 100%;

  @include vw-property((max-width: 288));

  @include tablet {
    max-width: none;
    width: 100%;
  }
}

.progress_heading {
  margin-bottom: 48px;
}

.progress_wrapper {
  font-weight: 400;
  font-size: 18px;
  line-height: 166%;
  color: #888e9c;
  @include spacer(margin, b, 10 / 8);
}

.button_laba {
  @include spacer(margin, r, 1 / 2);
}

.filter_buttons {
  margin: 0 auto;
}

.info_container {
  // max-width: 758px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include vw-property((max-width: 756));
}

.info {
  @include mobile {
    border-top: none;
  }
}


.projects {
  @include spacer(margin, x, -1 / 2);
  @include spacer(margin, r, -3 / 2);
  @include spacer(margin, b, -1);
  display: flex;
  flex-wrap: wrap;

  > * {
    @include spacer(margin, x, 1 / 2);
    @include spacer(margin, b, 1);
    width: calc(50% - $offsetMain);

    @include tablet {
      flex-direction: column;
      width: calc(100% - $offsetMain);
      @include spacer(margin, x, 0);
    }
  }
}

.project {
  margin-right: 300px;
}

.project_text {
  @include spacer(margin, b, 1 / 2);
}

.divider {
  margin-bottom: 0;
  @include spacer(margin, t, 2);
}

.advantages_left {
  @include tablet-small {
    display: none;
  }
}

.advantages_right {
  @include tablet-small {
    display: none;
  }
}

.advantages_mobile {
  display: none;

  @include tablet-small {
    display: flex;
    overflow: auto;
  }
}
