@import '@/styles/global/mixins';

.SearchNews {
  width: 100%;
  border: 1px solid #DADCE0;
  @include spacer(padding, x, 1);
  @include spacer(padding, t, 1);
  @include spacer(padding, b, 3 / 2);
}

.top {
  display: flex;
  align-items: center;
  @include spacer(margin, b, 3 / 4.5)
}
  
.vert_line {
  width: 1px;
  background-color: #888e9c;
  height: 18px;
  font-weight: 400;
  margin: 0 8px 0;
}

.department {
  color: #0e3fb5;
  @include font-size(18, 12);
}

.date {
  color: #888e9c;
  @include font-size(18, 12);
}

.heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.03em;
  color: #11151D;
  @include spacer(margin, b, 10 / 8);
}

.button {
  background-color: #fff;
  color: #0E3FB5;
  border: 1.5px solid #DADCE0;
}
