@import "@/styles/global/_mixins.scss";

.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  @include spacer(padding, x, 7 / 8);
  background-color: #fff;

  @include mobile {
    @include spacer(padding, x, 3/ 4);
    height: 64px;
  }

  .icon {
    margin: 0 16px;

    @include tablet {
      margin: 0 10px;
    }
  }

  .Button {
    margin-left: 32px;

    @include tablet {
      margin-left: 16px;
    }

    @include mobile {
      display: none;
    }
  }
}

.logo {
  background-image: url("../../public/images/logo.svg");
  width: 130px;
  height: 28px;
  margin-right: 28px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;

  &_link {
    color: black;
    font-size: 16px;
    margin-right: 40px;

    @include tablet {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 56px;

      @include tablet {
        margin-right: 20px;
      }
    }
  }

  @include mobile {
    display: none;
  }
}

.vert_line {
  width: 1px;
  background-color: #dadce0;
  height: 74px;
  font-weight: 600;

  @include laptop {
    height: 64px;
  }

  // @include mobile {
  //   display: none;
  // }
}
