@import "@/styles/global/_mixins.scss";

.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  @include spacer(padding, x, 7 / 8);
  background-color: #fff;

  @include mobile {
    @include spacer(padding, x, 3/ 4);
    height: 64px;
  }

  .icon {
    margin: 0 16px;

    @include tablet {
      margin: 0 10px;
    }
  }

  .Button {
    margin-left: 32px;

    @include tablet {
      margin-left: 16px;
    }

    @include mobile {
      display: none;
    }
  }
}

.logo {
  background-image: url("../../public/images/logo.svg");
  width: 130px;
  height: 28px;
  margin-right: 28px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;

  &_link {
    color: black;
    font-size: 16px;
    margin-right: 40px;

    @include tablet {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 56px;

      @include tablet {
        margin-right: 20px;
      }
    }
  }

  @include mobile {
    display: none;
  }
}

.vert_line {
  width: 1px;
  background-color: #dadce0;
  height: 74px;
  font-weight: 600;

  @include laptop {
    height: 64px;
  }

  // @include mobile {
  //   display: none;
  // }
}

.hamburger {
  display: none;

  @include mobile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

.hamburger_img {
  width: 28px;
  height: 16px;
}

.popup {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: flex-end;
  transform: translateX(130%);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.popup__container {
  @include spacer(padding, x, 3 / 4);
  // @include spacer(padding, t, 3);
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.popup__wrapper{
  display: flex;
  flex-direction: column;
  @include spacer(margin, t, 3)
}

.popup__button{
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  background-size: cover;
  position: absolute;
  top: 22px;
  right: 22px;
}

.popup__button:hover {
	opacity: 0.6;
	transition-duration: 1s;
}

.popup_opened{
  transform: translateX(0)
}

.column_directions {
  display: flex;
  flex-direction: column;
}

.link_directions {
  @include font-size(16);
  line-height: 166%;
  color: rgba(17, 21, 29, 0.6);
  @include spacer(margin, b, 0.45);
  cursor: pointer;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.6;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile {
    @include spacer(margin, b, 1 / 2.28);
  }
}

.vk {
  width: 24px;
  height: 12px;
  cursor: pointer;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.6;
  }
}

.telegram {
  width: 21.1px;
  height: 19.2px;
  @include spacer(margin, r, 0.545);
  cursor: pointer;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.6;
  }
}

.hamburger_link {
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: #11151D;
  @include spacer(margin, b, 3 / 4);
}

.heading {
  @include font-size(16);
  @include spacer(margin, b, 10 / 40);
  color: rgba(17, 21, 29, 0.6);
}

.phone {
  @include spacer(margin, b, 1);
}

.email {
  @include spacer(margin, b, 1);
}

