@import "@/styles/global/mixins";

.Profile {
  display: flex;
  align-items: center;
}

.img {
  width: 96px;
  height: 96px;
}

.heading {
  @include font-size(26);
  font-weight: 500;
  @include spacer(margin, b, 1 / 4);
}

.post {
  color: #888e9c;
  @include font-size(18);
  font-weight: 400;
}

.wrapper {
  p {
    margin-bottom: 0;
  }
}
