@import "@/styles/global/mixins";

.projects {
  @include spacer(margin, x, -1 / 2);
  @include spacer(margin, r, -3 / 2);
  @include spacer(margin, b, -1);
  display: flex;
  flex-wrap: wrap;

  > * {
    @include spacer(margin, x, 1 / 2);
    @include spacer(margin, b, 1);
    width: calc(50% - $offsetMain);
  }
}

.person_avatar {
  @include spacer(margin, y, 6 / 4);
}

.person {
  :global(.h7) {
    @include vw-property(
      (
        width: 680,
      )
    );
  }
}

.map {
    padding: 0;
    @include spacer(padding, l);
    display: flex;
    align-items: stretch;
  
    &_container {
      background: #f3f9ff;
    }
  
    &_img {
      @include spacer(margin, y, -1);
      width: 100%;
      position: relative;
  
      @include aspect-ratio(308, 235);
  
      @include tablet-small {
        @include spacer(margin, y, 0);
      }
    }
}

.layout_map {
  background-color: #F3F9FF;;
}

.info_wrapper {
  max-width: 758px;
  width: 100%;
  @include spacer(margin, b, 10 / 8);
}

.info_list {
  @include spacer(margin, b, 10 / 8);
}