@import "@/styles/global/mixins";

.divider_main {
  @include spacer(margin, y, -1);
  @include vw-property(
    (
      width: 1264,
    )
  );

  @include tablet {
    @include spacer(margin, y, -3 / 4);
  }

  @include mobile {
    @include spacer(margin, y, -3 / 4);
  }
}

.divider_main_last {
  @include spacer(margin, t, -1);
}

.left {
  width: auto;
  flex: 1;

  @include laptop {
    @include vw-property(
      (
        padding-left: 158,
        padding-right: 0,
      )
    );

    width: 0;
    flex: 0;
  }

  @include tablet {
    display: none;
  }
}

.right {
  @include vw-property(
    (
      width: 1264,
    )
  );

  > :last-child {
    display: none;
  }

  @include laptop {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }


  @include tablet-small {
    border-top: none;
  }

  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.center_header {
  @include vw-property(
    (
      padding-left: 158,
    )
  );

  padding-top: vh(58);
  padding-bottom: vh(58);

  @include tablet {
    padding-left: 32px;
    width: 100%;
  }

  @include mobile {
    padding-left: 0;
  }
}

.heading_main {
  @include font-size(90, 40);
  font-weight: 600;

  @include laptop {
    // width: 338px;
  }

  @include mobile {
    // @include font-size(40);
    font-weight: 500;
  }
}

.divider_big {
  @include spacer(margin, y, 0);
}

.divider_main {
  @include laptop {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}
