@import '@/styles/global/mixins';

.InfoPlan {
  margin-bottom: 136px;
  padding-left: 102px;
  position: relative;
}

.value {
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #0E3FB5;
    @include spacer(margin, b, 1 / 2)
}
  
.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.03em;
  color: #0E3FB5;
  margin: 0;
}



// .top {
//   // position: absolute;
//   bottom: 158px;
// }