@import "@/styles/global/mixins";

.Equipment {
  // max-width: 632px;
  width: 100%;
  background-color: #f3f9ff;
  @include spacer(padding, t, 2 / 1.14);
  @include spacer(padding, r, 2 / 1.33);
  @include spacer(padding, b, 2 / 1.28);
  @include spacer(padding, l, 2 / 1.33);

  @include tablet-small {
    @include spacer(padding, x, 3 / 4);
    @include spacer(padding, y, 3 / 4);
  }
}

.heading {
  @include font-size(36, 22);
  color: #0e3fb5;
  font-weight: 500;
  @include spacer(padding, b, 2 / 1.39);

  @include tablet-small {
    width: 100%;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  // mix-blend-mode: darken;
}
