@import "@/styles/global/mixins";

.projects {
  @include spacer(margin, x, -1 / 2);
  @include spacer(margin, r, -3 / 2);
  @include spacer(margin, b, -1);
  display: flex;
  flex-wrap: wrap;

  > * {
    @include spacer(margin, x, 1 / 2);
    @include spacer(margin, b, 1);
    width: calc(50% - $offsetMain);
  }
}

.person_avatar {
  @include spacer(margin, y, 6 / 4);
}

.person {
  :global(.h7) {
    @include vw-property(
      (
        width: 680,
      )
    );
  }
}
